@media(max-width:575px) {
    .d-none {
        display: none;
    }

    .to-block {
        display: block;
    }

}

@media(min-width:576px) {
    .d-none {
        display: none;
    }

    .to-block {
        display: block;
    }

    .sm-1 {
        width: 8.33%;
        padding: 12px;
    }

    .sm-2 {
        width: 16.66%;
        padding: 12px;
    }

    .sm-3 {
        width: 25%;
        padding: 12px;
    }

    .sm-4 {
        width: 33.33%;
        padding: 12px;
    }

    .sm-5 {
        width: 41.66%;
        padding: 12px;
    }

    .sm-6 {
        width: 50%;
        padding: 12px;
    }

    .sm-7 {
        width: 58.33%;
        padding: 12px;
    }

    .sm-8 {
        width: 66.66%;
        padding: 12px;
    }

    .sm-9 {
        width: 75%;
        padding: 12px;
    }

    .sm-10 {
        width: 83.33%;
        padding: 12px;
    }

    .sm-11 {
        width: 91.66%;
        padding: 12px;
    }

    .sm-12 {
        width: 100%;
        padding: 12px;
    }

    .menu ul {
        flex-direction: column;
    }
}

@media(min-width:767px) {
    .menu ul {
        flex-direction: column;
    }

    .d-none {
        display: none;
    }

    .to-block {
        display: block;
    }

    .md-1 {
        width: 8.33%;
        padding: 12px;
    }

    .md-2 {
        width: 16.66%;
        padding: 12px;
    }

    .md-3 {
        width: 25%;
        padding: 12px;
    }

    .md-4 {
        width: 33.33%;
        padding: 12px;
    }

    .md-5 {
        width: 41.66%;
        padding: 12px;
    }

    .md-6 {
        width: 50%;
        padding: 12px;
    }

    .md-7 {
        width: 58.33%;
        padding: 12px;
    }

    .md-8 {
        width: 66.66%;
        padding: 12px;
    }

    .md-9 {
        width: 75%;
        padding: 12px;
    }

    .md-10 {
        width: 83.33%;
        padding: 12px;
    }

    .md-11 {
        width: 91.66%;
        padding: 12px;
    }

    .md-12 {
        width: 100%;
        padding: 12px;
    }
}

@media(min-width:991px) {
    .menu ul {
        flex-direction: row;
    }

    .d-block {
        display: block;
    }

    .to-none {
        display: none;
    }

    .lg-1 {
        width: 8.33%;
        padding: 12px;
    }

    .lg-2 {
        width: 16.66%;
        padding: 12px;
    }

    .lg-3 {
        width: 25%;
        padding: 12px;
    }

    .lg-4 {
        width: 33.33%;
        padding: 12px;
    }

    .lg-5 {
        width: 41.66%;
        padding: 12px;
    }

    .lg-6 {
        width: 50%;
        padding: 12px;
    }

    .lg-7 {
        width: 58.33%;
        padding: 12px;
    }

    .lg-8 {
        width: 66.66%;
        padding: 12px;
    }

    .lg-9 {
        width: 75%;
        padding: 12px;
    }

    .lg-10 {
        width: 83.33%;
        padding: 12px;
    }

    .lg-11 {
        width: 91.66%;
        padding: 12px;
    }

    .lg-12 {
        width: 100%;
        padding: 12px;
    }
}

@media(min-width:1200px) {
    .menu ul {
        flex-direction: row;
    }

    .d-block {
        display: block;
    }

    .to-none {
        display: none;
    }

    .xl-1 {
        width: 8.33%;
        padding: 12px;
    }

    .xl-2 {
        width: 16.66%;
        padding: 12px;
    }

    .xl-3 {
        width: 25%;
        padding: 12px;
    }

    .xl-4 {
        width: 33.33%;
        padding: 12px;
    }

    .xl-5 {
        width: 41.66%;
        padding: 12px;
    }

    .xl-6 {
        width: 50%;
        padding: 12px;
    }

    .xl-7 {
        width: 58.33%;
        padding: 12px;
    }

    .xl-8 {
        width: 66.66%;
        padding: 12px;
    }

    .xl-9 {
        width: 75%;
        padding: 12px;
    }

    .xl-10 {
        width: 83.33%;
        padding: 12px;
    }

    .xl-11 {
        width: 91.66%;
        padding: 12px;
    }

    .xl-12 {
        width: 100%;
        padding: 12px;
    }
}