* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

body {
  background-color: rgba(6, 6, 6, 0.987);
}

header {
  width: 100%;
  border-bottom: 1px solid rgba(172, 172, 172, 0.2156862745);
  background-color: rgba(6, 6, 6, 0.987);
  position: sticky;
  top: 0;
}
header .logo {
  height: 80px;
}
header .logo img {
  width: 130px;
  height: 45px;
}
header .menu ul li {
  padding: 0px 17px;
}
header .menu ul li a {
  font-size: 16px;
  color: #65676B;
  font-family: "Inter";
  text-align: center;
  text-transform: capitalize;
}
header .btn button {
  border: 0;
  padding: 0px 20px;
  color: #ffffff;
  font-family: "Inter";
  background: linear-gradient(95deg, #059DFF 15%, #6549D5 45%, #E33FA1 75%, #FB5343 100%) 95%/200% 100%;
  border-radius: 20px;
  width: 115px;
  height: 40px;
}

.slider {
  width: 100%;
  height: 760px;
  background-image: url("../img/bg-image-12.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.689);
  background-blend-mode: darken;
}
.slider .s-btn button {
  background-color: #0f0f11;
  font-size: 14px;
  text-align: center;
  font-family: "Inter";
  border-radius: 10px;
  border: 0;
  width: 273px;
  height: 32px;
}
.slider .s-btn button h4 {
  background: linear-gradient(95deg, #059DFF 15%, #6549D5 45%, #E33FA1 75%, #FB5343 100%) 95%/200% 100%;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider h2, .slider h3 {
  font-size: 75px;
  font-family: "Inter";
  color: #ffffff;
}

.logos {
  width: 100%;
  padding: 120px 0px 100px;
  border-bottom: 1px solid rgba(172, 172, 172, 0.2156862745);
}
.logos p {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-weight: 700;
}
.logos h5 {
  font-size: 16px;
  color: #65676B;
  font-family: "Inter";
  text-align: center;
}
.logos .logo-img img {
  height: 93%;
}

.service {
  width: 100%;
  padding: 120px 0px 100px;
}
.service .s-content {
  text-align: center;
}
.service .s-content button {
  background-color: #0f0f11;
  font-size: 14px;
  text-align: center;
  font-family: "Inter";
  border-radius: 10px;
  border: 0;
  width: 273px;
  height: 32px;
  margin-bottom: 7px;
}
.service .s-content button h2 {
  background: linear-gradient(95deg, #059DFF 15%, #6549D5 45%, #E33FA1 75%, #FB5343 100%) 95%/200% 100%;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.service .s-content h4 {
  color: #ffffff;
  font-family: "Inter";
  font-size: 44px;
  margin-bottom: 20px;
}
.service .s-content p, .service .s-content h3 {
  font-size: 16px;
  color: #65676B;
  font-family: "Inter";
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  color: #ACACAC;
}
.service .service-box .s-box {
  width: 100%;
  height: 337px;
  background-color: #0f0f11;
  border-radius: 10px;
  padding: 50px 35px 55px;
  margin-top: 50px;
}
.service .service-box .s-box i {
  color: #059DFF;
  font-size: 44px;
  margin-bottom: 20px;
}
.service .service-box .s-box .s1-icon i {
  color: #FB5343;
}
.service .service-box .s-box .s2-icon i {
  color: #6549D5;
}
.service .service-box .s-box h5 {
  font-size: 24px;
  font-family: "Inter";
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}
.service .service-box .s-box p {
  font-size: 16px;
  color: #65676B;
  font-family: "Inter";
  text-align: center;
  line-height: 1.7;
  font-weight: 600;
}

.counter {
  width: 100%;
  padding: 100px 0px 100px;
  text-align: center;
  border-bottom: 1px solid rgba(172, 172, 172, 0.2156862745);
}
.counter h2 {
  color: #059DFF;
  font-size: 35px;
  font-family: "Inter";
}
.counter h2 i {
  color: #059DFF;
  font-size: 30px;
}
.counter h3 {
  color: #ffffff;
  font-size: 24px;
  font-family: "Inter";
  margin: 8px 0px 20px;
}

.team {
  padding: 120px 0px 100px;
}
.team .t-btn button {
  background-color: #0f0f11;
  font-size: 14px;
  text-align: center;
  font-family: "Inter";
  border-radius: 10px;
  border: 0;
  width: 273px;
  height: 32px;
  margin-bottom: 7px;
}
.team .t-btn button h2 {
  background: linear-gradient(95deg, #059DFF 15%, #6549D5 45%, #E33FA1 75%, #FB5343 100%) 95%/200% 100%;
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}
.team h3 {
  font-size: 44px;
  font-family: "Inter";
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
.team .team-img img {
  width: 299px;
  height: 302px;
}

footer {
  width: 100%;
}
footer .start {
  width: 100%;
  padding: 100px 0px 70px;
}
footer .start h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: "Inter";
}
footer .start ul li {
  padding: 10px 0px;
}
footer .start ul li a {
  color: #ACACAC;
  font-family: "Inter";
  text-transform: capitalize;
  font-weight: 300;
  position: relative;
}
footer .start ul li a::after {
  width: 0%;
  position: absolute;
  content: "";
  border: 0.3px solid #059DFF;
  bottom: 0;
  left: 0;
  transition: all 1s;
  opacity: 0;
}
footer .start ul li a:hover {
  color: #059DFF;
}
footer .start ul li a:hover::after {
  width: 100%;
  opacity: 1;
}
footer .start p {
  color: #ACACAC;
  margin-bottom: 32px;
  font-size: 16px;
  color: #65676B;
  font-family: "Inter";
  text-align: center;
  padding-right: 120px;
  line-height: 30px;
  text-align: left;
  font-weight: 600;
}
footer .start .f-icon .icon {
  width: 48px;
  height: 48px;
  background-color: #0f0f11;
  border-radius: 50%;
  margin: 0px 5px;
  text-align: center;
  transition: all 2s;
}
footer .start .f-icon .icon i {
  color: #ffffff;
  line-height: 48px;
}
footer .start .f-icon .icon:hover {
  background-color: #059DFF;
}
footer .center {
  width: 100%;
  padding: 40px 0px;
  border-bottom: 1px solid rgba(172, 172, 172, 0.2156862745);
}
footer .center img {
  width: 158px;
  height: 55px;
  margin-bottom: 10px;
}
footer .center p {
  font-size: 16px;
  color: #65676B;
  font-family: "Inter";
  text-align: center;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.7;
}
footer .center .c-btn button {
  border: 0;
  padding: 0px 20px;
  color: #ffffff;
  font-family: "Inter";
  background: linear-gradient(95deg, #059DFF 15%, #6549D5 45%, #E33FA1 75%, #FB5343 100%) 95%/200% 100%;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 20px;
  border-radius: 10px;
  height: 50px;
  width: 203px;
}
footer .center .c-btn button i {
  margin: 0px 7px;
}
footer .end {
  width: 100%;
  height: 70px;
  border-top: 1px solid rgba(172, 172, 172, 0.2156862745);
  padding: 20px 0px;
}
footer .end h4,
footer .end h6 {
  color: #ACACAC;
  font-size: 16px;
  color: #65676B;
  font-family: "Inter";
  text-align: center;
  font-weight: 500;
  position: relative;
}
footer .end .line {
  width: 1px;
  height: 20px;
  background-color: rgba(172, 172, 172, 0.2156862745);
  margin: 0px 8px;
}
footer .end h4::after {
  width: 0%;
  position: absolute;
  content: "";
  border: 0.3px solid #059DFF;
  bottom: 0;
  left: 0;
  transition: all 1s;
  opacity: 0;
}
footer .end h4:hover {
  color: #059DFF;
}
footer .end h4:hover::after {
  width: 100%;
  opacity: 1;
}
footer .end h6 {
  font-size: 14px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */